<!DOCTYPE html>
<html lang="en">
<head>{{>head}}</head>
<body>
    <div hidden>{{_id}}</div>
    <form method="post" role="form">  
        <div class="form-group">
            <input type="submit" value="Delete Goal" class="btn btn-primary">
        </div>
    </form>
</body>
</html>