<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body style="text-align: center" class="container">
     
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <a class="btn btn-outline-secondary" href="/view-weekly-goals">View Weekly Goal</a>
        <br>
        <br>
        <a class="btn btn-outline-secondary" href="/view-past-goals">View Past Goals</a>
        <br>
        <br>
        <a class="btn btn-outline-secondary" href="/view-future-goals">View Future Goals</a>
      
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Training Goals</h1>
      <p class="lead">In this page you will be able to select what goals you would like to view. Weekly goals will show all
          of the goals that you have set for the current week. You will also be able to view all past and future goals from
          the buttons on the right hand side of this page.
      </p>
    </div>
  </div>
</div>
  </body>
</html>
