<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body style="text-align: center" class="container">
     
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/images/homeImage.png" class="d-block mx-lg-auto img-fluid" alt="homeImg" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Fitness Home Page</h1>
      <p class="lead">This website will allow you to enter your training goals and keep track of them. Log in to
        use the full functionality and start recording your fitness goals today!
      </p>
    </div>
  </div>
</div>
  </body>
</html>
