<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body style="text-align: center" class="container">
    <img src="/images/homeImage.png" />

    <p>
      This website is to help you keep on track with your exercise and fitness
      during this Covid-19 Pandemic!
    </p>
  </body>
</html>
