<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="container">
    <h1 style="text-align: center">{{ title }}</h1>

    <div id="shareLink" value={{user.user}}> 

    </div>
    
    <script src="/js/getSharableURL.js"></script>

  </body>
</html>
