<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="container">
    <h1 style="text-align: center">{{ title }}</h1>

    <div style="text-align: center;" id="shareLink" value={{user.user}}> 

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/getSharableURL.js"></script>

  </body>
</html>
