<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="container" style="text-align: center;">
    <h1 style="text-align: center">{{ title }}</h1>

    {{#user}}
    <hr />
    <div hidden>{{ _id }}</div>
    <div>Username: {{ user }}</div>
    <div>Email: {{ email }}</div>
    <div>Name: {{ name }}</div>
    <div>Date of Birth: {{ dob }}</div>
  </hr>
    {{/user}}

</body>
</html>
