<!DOCTYPE html>
<html lang="en">
<head>{{>head}}</head>
<body>
    <h1 style="text-align: center;">{{title}}</h1>

    {{#entries}}
    <div>
       Fitness Goal: {{goal}}
    </div>
    <div>
       Start Time: {{startTime}}
    </div>
    <div>
       End Time: {{endTime}}
    </div>
    <div>
        Written by {{user}} , on {{startDate}}
    </div>
    <div>
        <a href="/posts/{{_id}}">Update</a> 
    </div>
    <hr>
    {{/entries}}
    {{^entries}}
    No entries yet.
    {{/entries}}
    
    
</body>
</html>