<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="container">
    <h1 style="text-align: center">{{ title }}</h1>

    <div class="text-center">
      <a href="/add-goal" class="btn btn-secondary"> Add a Goal </a>
      <br>
      <a href="/share-link/{{user.user}}" class="btn btn-outline-secondary"> Share Goals </a>
    </div>

    {{#entries}}
    <hr />
    <div hidden>{{ _id }}</div>
    <div>Fitness Goal: {{ goal }}</div>
    <div>Start Time: {{ startTime }}</div>
    <div>End Time: {{ endTime }}</div>
    <div>
      {{^completed}}
        <label for="{{completed}}">Completed:</label>
        <input type="checkbox" id="completed" name="completed" value={{completed}} disabled>  
      {{/completed}}
      {{#completed}}
        <label for="{{completed}}">Completed:</label>
        <input type="checkbox" id="completed" name="completed" value={{completed}} checked disabled>  
      {{/completed}}
    </div>
    <div>Written by {{ user }} , on {{ startDate }}</div>
    <div>
      {{^completed}}
      <form action="" method="POST">
        <button type="submit"
                name="completeButton"
                value="{{_id}}"
                class="btn btn-outline-dark">Complete Goal</button>
      </form>
      {{/completed}}
      
      <a class="btn btn-outline-warning" href="/update-goal/{{ _id }}">Update</a>
      <a class="btn btn-outline-danger" href="/delete-goal/{{ _id }}">Delete</a>
    </div>
    <hr />
    {{/entries}}
    {{^entries}}
    No fitness goals have been set yet.
    {{/entries}}
  </body>
</html>
